<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebase_flutter">

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="firebase_flutter"
        android:icon="@mipmap/ic_launcher">
        <!-- Menambahkan Firebase dan plugin lainnya -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <!-- Aktivitas utama yang digunakan untuk meluncurkan aplikasi -->
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|layoutDirection"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
